*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.2rem;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: hsl(218, 23%, 16%);
  color: hsl(193, 38%, 86%) ;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 320px;
  height: 300px;
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
  position: relative;
}

p::after{
  content: "";
  height: 1px;
  width: 35%;
  background: hsl(217, 19%, 38%);
  position:absolute;
  bottom: 60px;
  right: 20px;
}

p::before{
  content: "";
  height: 1px;
  width: 35%;
  background: hsl(217, 19%, 38%);
  position:absolute;
  bottom: 60px;
  left: 20px;
}

button{
  position: absolute;
  bottom: -35px;
  border: none;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: hsl(150, 100%, 66%);
}

